fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart PyPDF2
python-docx
itsdangerous
python-dotenv aiosmtplib
# pip install -r ../requirements.txt